html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  margin: 0;
}

section.flex {
  display: flex;
}

.app {
  height: 100%;
}

.gameUI {
  font-size: 16px;
  position: absolute;
  top: 0;
}
