.GamesList {
  section {
    padding: 0.5em;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }
    button.join {
      margin-left: 0.5em;
    }
  }

  ol {
    margin: 0;
  }
}
