.SuitPicker {
  i {
    font-style: normal;
    position: relative;
    top: -0.15em;

    &.H {
      color: #dd261f;
    }
    &.S {
      color: #0f0f0f;
    }
    &.D {
      color: #3665e7;
    }
    &.C {
      color: #07b807;
    }
  }
}
